<header class="header">
    <div class="header__logo">
        <img class="header__img" src="./assets/images/logo-roller.png" alt="Rolling wheels">
        <a href="index.html" class="header__title">SOBRE RUEDAS</a>
    </div>
  <nav class="navbar">
    <div class="navbar__responsive">
        <div class="navbar__bars navbar__bars-open" onclick="navBarOnClick()">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navbar__bars navbar__bars-close" onclick="navBarCloseOnClick()">
            <i class="fa-solid fa-x"></i>
        </div>
        <div class="navbar__dropdrown">
            <ul id="navbar-links" class="navbar__menu-dropdown">
                <li><a href="#about" class="navbar__links">Qué es</a></li>
                <li><a href="#roller-type" class="navbar__links">Tipos de patines</a></li>
                <li><a href="#roller-technics" class="navbar__links">Disciplinas del patinaje</a></li>
            </ul>
        </div>
    </div>
    <ul class="navbar__menu">
        <li><a href="#about" class="navbar__links">Qué es</a></li>
        <li><a href="#roller-type" class="navbar__links">Tipos de patines</a></li>
        <li><a href="#roller-technics" class="navbar__links">Disciplinas del patinaje</a></li>
    </ul>
  </nav>
</header>